/*.popup-box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.popup-box-button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}*/

.popup-box-button {
  color: #fff;
  transition: all 0.3s ease-out;
}

.popup-box-button:hover {
  background: #06D85F;
}

.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popup-overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

.popup-window {
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup-window p {
  color: black;
  opacity: 0.5;
}

.popup-window h2 {
  margin-top: 10px;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup-window .close {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: all 200ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  margin-right: 0px;
  padding: 10px 10px;
}
.popup-window .close:hover {
  color: #06D85F;
}
.popup-window .content {
  max-height: 30%;
  overflow: auto;
  color: black;
}

@media screen and (max-width: 700px){
  .popup-box{
    width: 70%;
  }
  .popup-window{
    width: 70%;
  }
}
