<a (click)="createForm($event)" href="#popup1" class="popup-box-button">Tạo Lời Nhắn</a>

<div id="popup1" class="popup-overlay" >

    <div class="popup-window">

      <h2 *ngIf="(af.auth | async)" > Tin nhắn thay lời trái tim <span><a class="close" href="#">&times;</a></span> </h2>
      <h2  *ngIf="!(af.auth | async)" >Đăng nhập để gửi lời yêu thương <span><a class="close" href="#">&times;</a></span></h2>

      <!-- <p *ngIf="(af.auth | async)"  >Hãy để chúng tôi gửi những điều bạn muốn nói tới người mà bạn yêu thương.</p> -->

      <div class="content">
        <div *ngIf="(af.auth | async)">
            <create-note [reciever]="eventCreateForm"></create-note>
          </div>

          <div *ngIf="!(af.auth | async)">
            <app-login></app-login>
          </div>

      </div>
	  </div>
  </div>
