
.popup-box-button {
  color: #fff;
  transition: all 0.3s ease-out;
}

.popup-box-button:hover {
  background: #06D85F;
}

.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popup-overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

.popup-window {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup-window h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup-window .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup-window .close:hover {
  color: #06D85F;
}
.popup-window .content {
  max-height: 30%;
  overflow: auto;
  color: black;
}

@media screen and (max-width: 700px){
  .popup-box{
    width: 70%;
  }
  .popup-window{
    width: 70%;
  }
}
