

<!-- main -->



  <!-- hero section -->
  <section class="hero">
    <div class="hero-content">
      <!-- <h1>{{title}}</h1> -->
      <a (click)="createForm($event) ">Tạo Lời Nhắn</a>
      <a  (click)="becomeAngel()">Trở Thành Thiên Thần</a>
    </div>
  </section>
  <section>
    <create-note [reciever]="eventCreateForm"></create-note>
  </section>
  <app-login></app-login>

  <!-- notes section -->

  <section class="notes">
    <masonry class="grid-view" [options]="myOptions">
           <masonry-brick   class="brick" *ngFor="let brick of bricks" >
              <div [ngClass]="{
                forever: brick.noteType == 'forever',
                love: brick.noteType == 'love',
                thank: brick.noteType == 'thank',
                sorry: brick.noteType == 'sorry'
              }"
              >
                 <h3>{{brick.id}}</h3>
                 <button (click)="deleteNote(brick.$key)" *ngIf="brick.author == currentUser">Xóa</button>
              </div>

               <p>
                 {{brick.content}}
               </p>
               <div class="address">
                 <p>
                   Từ: <span>{{brick.from}}</span><br>
                   Tới: <span>{{brick.to}}</span>
               </p>
               </div>
               <div class="status">
                 <div class="left" [ngSwitch]="value">
                   <a ><img [class.loved]="brick.isLoved" (click)= "changeLoveCount(brick)" style src="../assets/img/icon heart small.png" alt="Thích"></a>
                   <span>{{brick.loveCount}}</span>
                 </div>
                 <div class="right">
                   <a id="social" href="#" (click)= "changeShareCount(brick)" >Shares</a>
                   <span>{{brick.shareCount}}</span>
                 </div>
               </div>
           </masonry-brick>
     </masonry>
  </section>

  <ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.body}}
  </li>
</ul>
